.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.form__section {
  grid-column: span 2 / span 2;
}

.form__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__title {
  margin-bottom: 0.5rem;
  display: block;
  color: hsl(278 68% 11%);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.form__hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.form__input-container {
  display: block;
  position: relative;
  width: 100%;
  height: 3rem;
}

.form__row > .form__input-container:first-child {
  margin-right: 0.5rem;
  flex: 1;
}

.form__row > .form__input-container:last-child {
  margin-left: 0.5rem;
  flex: 1;
}

.form__input {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: transparent;
  border: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.form__input:focus-visible {
  outline: none;
}

.form__input::placeholder {
  color: hsl(279 6% 55%);
}

.form__input--uppercase::placeholder {
  text-transform: uppercase;
}

.form__input-border {
  position: absolute;
  z-index: auto;
  inset: 0;
  display: block;
  border: 1px solid transparent;
  background-color: white;
  background-clip: padding-box;
  border-radius: 0.5rem;
}

.form__input:focus-visible ~ .form__input-border::before {
  background: linear-gradient(to top right, var(--color-input-active-left), var(--color-input-active-right));
}

.form__input--error ~ .form__input-border::before {
  background: var(--color-input-error);
}

.form__input-border::before {
  content: "";
  margin: -1px;
  position: absolute;
  inset: 0;
  z-index: -10;
  border-radius: 0.5rem;
  background-color: hsl(270 3% 87%);
}

.form__button {
  grid-column: span 2 / span 2;
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition: opacity 150ms;
}

.form__button--enabled:hover {
  opacity: 0.8;
}

.form__button--enabled {
  background-color: var(--color-very-dark-violet);
  cursor: pointer;
}

.form__button--disabled {
  background-color: var(--color-very-dark-violet-pale);
}

.form__error {
  padding-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: hsl(0 100% 66%);
}

@media screen and (min-width: 375px) {
  .form__section--row {
    grid-column: span 1 / span 1;
  }
}

@media screen and (min-width: 992px) {
  .form {
    margin-left: 4rem;
    flex: none;
    width: 23.75rem;
  }
}

@media screen and (min-width: 992px) {
  .form {
    gap: 2rem 1rem;
  }
}

@media screen and (min-width: 1112px) {
  .form {
    margin-left: 8rem;
  }
}