@import "styles/reset.css";

@import "styles/background.css";
@import "styles/page.css";
@import "styles/card.css";
@import "styles/form.css";
@import "styles/success-view.css";

:root {
  --color-input-active-left: hsl(249, 99%, 64%);
  --color-input-active-right: hsl(278, 94%, 30%);
  --color-input-error: hsl(0, 100%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 3%, 87%);
  --color-dark-grayish-violet: hsl(279, 6%, 55%);
  --color-very-dark-violet: hsl(278, 68%, 11%);
  --font-family: 'Space Grotesk';
}

body {
  font-family:
    var(--font-family),
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}
